<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CultureVoyager</title>
</head>
<body>


  <header class="heading">
    <h1 class="head-title">CultureVoyager</h1>
    <button id="menu" class="head-menu">☰</button>
    <nav id="draw" class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#/home">Home</a></li> 
        <li class="nav-item"><a href="#/like">Favorit</a></li>
        <li class="nav-item"><a href="">Logout</a></li>
      </ul>
    </nav>
</header>

<header class="landing-head">
  <h1 class="web-name">Cultural Voyager</h1>
  <button class="signin-button" id="loginButton">Login</button>
</header>
    
<main id="main-content"> </main>

<footer>
  <section>
    <h2>CultureVoyager</h2>
    <p>Copyright © 2023 | Created by C523-PS011 MSIB x Dicoding Indonesia Batch 5</p>
  </section>
</footer>

  </body>
</html>
