* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .home {
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
  
  }
  .home-img{
      width: 100%;
      height: 300px;
      object-fit: cover;
  }
  .home-inner {
    position: absolute;
    width: 85%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  
  .home-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .home-ket {
    
    margin-top: 5px;
    font-size: 12px;
    font-weight: lighter;
    
  }

  .nav {
    width: 40%;
    margin-top: 60px;
    text-align: center;
    z-index: 1;
  }

  .nav-list {
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    display: block;
    font-size: 14px;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #414141;
  
  }

  .nav-logout{
    font-size: 14px;
    padding: 10px;
    width: 70px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(215, 39, 12, 0);
  }

  .nav-logout:hover{
    background-color: #db7f49;
  }
  
  
  .nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 20px;
  }

  body.like nav a.like{
    color: #3E3E3E;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

  .head-menu{
    font-size: 32px;
    display: block;
    cursor: pointer;
    min-width: 20px;
    padding-right: 8px;
    padding-left: 8px;
    border: none;
    background: none;
    color: #ffff;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    top: 0;
    position: relative;
    z-index: 1;
    background-color: #CE5A18;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.038);
}
    .head-title{
    font-weight: bold;
    font-size: 24px;
    color: #ffff;
    margin: 15px;
    }

    .culture-list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        margin: 32px 0;
      }
       


    .culture-card {
        width: 100%;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden;
        background-color: #ffffff;
      }

      .culture-descript {
        text-align: left;
        padding: 0 12px 12px 12px;
      }
       
      /* .culture-descript h3 {
        padding: 12px 0 0 0;
    
      } */
       
      .culture-descript h2  {
        color: #CE5A18;
        padding: 6px 0;
        font-size: 18px;
        display: inline-block;
        /* min-width: 44px;
        min-height: 44px; */
        text-decoration: none;
        
      }
       
      .culture-descript p {
        color: #3E3E3E;
        font-weight: lighter;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .culture-descript a{
        text-decoration: none;
      }

      .culture-item {
        position: relative;
      }
      .culture-card img {
        width: 100%;
        max-height: 175px;
        overflow: hidden;
        object-fit: cover;
      }

      .menu-label {
        max-width: 85%;
        margin: 80px auto;
        text-align: center;
      }

      .skip {
        position: absolute;
        top: -45px;
        left: 0;
        background-color: #ffffff;
        color: #FF8C32;
        padding: 12px;
        z-index: 10;
        font-size: 16px;
        text-decoration: none;
      }
       
      .skip:focus {
         top: 0;
      }

      .label-title {
        font-size: 20px;
        font-weight: bold;
        color: #CE5A18;
      
      }
      
      .label-title::after {
        content: '';
        margin-top: 16px;
        display: block;
      }

      .search{
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
      }

      .search form{
        display: flex;
        justify-content: space-between;
        
      }

      .search p{
        font-size: 12px;
        text-align: left;
        margin-bottom: 5px;
        color: #3E3E3E;
        font-weight: lighter;
      }

      .search input{
        padding: 11px 5px 11px 35px;
        width: 100%;
        border-radius: 5px;
        background-image: url('../public/images/search.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 18px;
        background-position: 10px;
        border: 1px solid #929292;
      }

      .search button{
        padding: 6px 12px 6px 12px;
        margin-left: 5px;
        background-color: #CE5A18;
        border: 1px solid #929292;
        border-radius: 5px;
        color: #f6f6f6;
      }

      .nothing{
        text-align: center;
        place-items: center;
        font-size: 14px;
        color: #3E3E3E;
      }

      footer{
        margin-top: 30px;
        text-align: center;
        background-color: #CE5A18;
        padding: 30px;
        color: #ffffff;
      }

      footer h2{
        font-size: 18px;
        margin-bottom: 5px;
      }

      footer p{
        font-weight: lighter;
        font-size: 12px;
      }

   
    .weather {
      position: absolute;
      top: 30%;
      left: 73%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      background-color: #00000043;
      border-radius: 10px;
    }
    
    .weather-title {
      font-size: 16px;
    }
    
    .weather-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }
    
    .weather-icon img {
      width: 60px; 
      height: 60px;
      margin-right: 10px;
    }
    
    .weather-details p {
      margin: 0;
    }
    
    .temperature {
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 5px;
    }
    
    .description {
      text-transform: capitalize;
      font-size: 12px;
    }
    
    .error-message {
      color: #ff0000;
    }

    .detail-culture {
      max-width: 800px;
      padding: 32px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 18px 6px;
    }
     
    .detai-title{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #CE5A18;
    }
  
    .detail-head img {
      width: 100%;
      border-radius: 5px;
    }
  
    .detail-info{
      margin-top: 30px;
    }
  
    .detail-info h4{
      margin-bottom :2px ;
      font-weight: 550;
      font-size: 14px;
      color: #3E3E3E;
    }
    .detail-info p{
      margin-bottom: 8px;
      font-weight: lighter;
    }
  
    .detail-desc h4{
      margin-bottom :2px ;
      font-weight: 550;
      font-size: 14px;
      color: #3E3E3E;
    }
    .detail-desc p{
      margin-bottom: 8px;
      font-weight: lighter;
    }
  
    .detail-desc .location{
      margin-top: 20px;
    }
    
    .detail-menu{
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style:circle;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 20px 20px;
    }

    #map {
      margin-top: 10px;
      width: 100%;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

  /* REVIEW */

    .review-head h2{
      padding: 20px;
      text-align: center;
      font-size: 20px;
      color: #CE5A18;
    }
    .review{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 10px 0;
      padding: 10px 10px;
      border-radius: 5px;
    }
    .review h3{
      font-weight: 500;
      font-size: 14px;
      color: #2a2a2a;
    }
    .review p{
      font-size: 10px;
      font-weight: 200;
      margin-top: 2px;
    }
    .review h4{
      font-weight: 350;
      margin-top: 5px ;
      font-size: 12px;
    }

    
  
    #reviewForm {
      text-align: center;
      max-width: 80%;
      padding: 20px;
      margin: 0 auto;
    }

    .review-form{
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    #reviewForm h2 {
      font-size: 20px;
      color: #CE5A18;
    }
    
    #reviewForm form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #reviewImage {
      display: none;
    }
  
    .custom-file-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 12px;
      margin: 5px 0;
      border: 1px solid #ccc;
      color: #3E3E3E;
      border-radius: 5px;
      background-color: #ffffff;
      font-size: 16px;
      cursor: pointer;
    }

    .custom-file-input:hover{
      background-color: #dddddd;
    }
    
    .custom-file-input img{
      width: 20px;
      height: auto;
      margin-right: 5px;

    }
    #uploadedImage {
      max-width: 100%;
      height: auto;
      margin: 10px 0;
      display: none;
    }
    #reviewForm input[type="text"],
    #reviewForm textarea {
      width: 100%;
      padding: 12px;
      margin: 5px 0;
      border: 1px solid #ccc;
      background-color: #f2f2f2;
      border-radius: 5px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    #reviewForm textarea {
      resize: vertical;
      min-height: 100px;
    }
    
    #reviewForm button {
      background-color: #CE5A18;
      color: #fff;
      border: none;
      margin-top: 10px;
      border-radius: 5px;
      padding: 13px 20px;
      font-size: 16px;
      cursor: pointer;
    }
    
    #reviewForm button:hover {
      background-color: #d87c47;
    }
    
#reviews-section {
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#reviews-section h2{
  color: #CE5A18;
  font-size: 20px;
}
#reviews-list {
  list-style: none;
  padding: 0;
}

#reviews-list li {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#reviews-list li p {
padding-left: 17px;
font-size: 12px;
font-weight: lighter;
}

#reviews-list li h3 {
  padding-left: 17px;
  font-size: 16px;
  color: #CE5A18;
  margin-bottom: 5px;
  }

#reviews-list img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 20px;

}


/*LANDING*/

    .landing-head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 0;
      top: 0;
      position: relative;
      z-index: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.038);
  }
  
  .web-name {
      font-size: 20px;
      color: #fff;
      margin: 20px;
  }
  
  .signin-button {
      margin: 20px; 
      height: 44px;
      font-size: 14px;
      width: 75px;
      color: #fff;
      border-radius: 5px;
      border: 1px solid #fff;
      text-decoration: none;
      cursor: pointer;
      background-color: rgba(215, 39, 12, 0);
  }
  
  .signin-button:hover {
    background-color: #9f9f9f6a;
    cursor: pointer;
  }
  
  
  .hero {
      height: 210px;
  }

  .hero-desc{
    display: none;
  }
  
  .hero-image {
      width: 100%;
      padding-top: -20px;
      display: block;
  }
  
  .hero-bold {
      margin-top: -43%;
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      padding-left: 40px;
  }
  
  .benefits {
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      margin: -60px 30px 0 30px;
      padding: 20px 25px;
      position: relative;
      z-index: 5;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  
  .title {
      text-align: center;
      font-size: 16px;
      color: #CE5A18;
      font-weight: 600;
      margin-bottom: 10px;
  }
  
  .benefits-text {
      font-size: 11px;
      font-weight: lighter;
      margin-bottom: 20px;
  }
  
  .benefits-icon {
      width: 50px;
      margin-top: 10px;
  }
  
  .benefits-item {
      font-size: 14px;
      font-weight: 600;
  }
  
  .benefits-desc {
      font-size: 11px;
      padding: 0 12px 15px 12px;
  }
  
  .summary {
      height: 350px;
      padding: 40px 35px;
  }
  
  .summary-img {
      margin: 7px 0;
      width: 100%;
  }
  
  .summary-desc {
      margin-top: 10px;
      text-align: justify;
      font-size: 11px;
  }
  
  .about {
      height: 340px;
      text-align: center;
      margin: 50px auto;
      max-width: 85%;
      padding: 20px 15px;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
      border-radius: 10px;
  }
  
  .about-img {
      width: 92%;
      border-radius: 2px;
      margin: -70px;
  }
  
  .about-title {
      text-align: center;
      font-size: 16px;
      color: #CE5A18;
      font-weight: 600;
      margin-top: 80px;
  }
  
  .about-desc {
      text-align: justify;
      font-size: 11px;
      padding: 0 12px;
      margin-top: 10px;
  }

  .signin {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: #f4f4f4; 
  }
  
  .container {
    display: flex;
    border-radius: 20px;
    width: 85%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for card-like appearance */
  }
  
  .signin-image {
    flex: 1;
    background-image: url("/src/public/images/login.png");
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 100%;
  }
  
  .signin-header {
    margin: 24px;
    text-align: center;
  }

  .signin-header h1{
    font-size: 25px;
    color: #CE5A18;
  }
  .signin-header p{
    color: #3E3E3E;
  }
  
  .form {
    flex: 1;
    padding: 20px;
  }
  
  #signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-btn {
    background-color: #ce5a18;
    border-radius: 5px;
    border: 1.5px solid #fff;
    margin-top: 10px;
    padding: 0 15px 0 15px;
    color: #fff;
    height: 44px;
  }
  
  .signin-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid gray;
  }

  .akun{
    text-align: center;
    margin: 20px;
    font-size: 12px;
    color: #3E3E3E;
  }

  .akun a{
    text-decoration: none;
    color: #CE5A18;
  }
  
  
  
  
  
  .register {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: #f4f4f4; /* Add a background color for the body */
  }
  
  .register-image {
    flex: 1;
    background-image: url("/src/public/images/signup.png");
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 100%;
  }
  
  .register-header {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    flex: 1;
    padding: 20px;
  }
  
  #register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-button {
    background-color: #ce5a18;
    border-radius: 5px;
    border: 1.5px solid #fff;
    margin-top: 10px;
    padding: 0 15px 0 15px;
    color: #fff;
    font-size: 12px;
    height: 44px;
  }
  
  .register-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid gray;
  }
  
  .form {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .input-container input {
    padding: 17px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    margin-top: 5px;
    transition: border-color 0.3s;
  }
  
  .input-container label {
    position: absolute;
    margin-top: 20px;
    left: 10px;
    font-size: 14px;
    color: #939393;
    font-weight: lighter;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
  }
  
  input:focus + label,
  input:valid + label {
    top: -10px;
  font-size: 12px;
    color: #ce5a18;
  }
  
    

  
  @media screen and (min-width: 321px) and (max-width: 375px){
    .hero-bold {
        margin-top: -155px;
    }
    .benefits {
        margin-top: -40px;
    }
}

  @media screen and (max-width: 499px) {
  
    .register-image{
      display: none;
    }
    .signin-image{
      display: none;
    }
    .nav {
      z-index: 15;
      background-color: #00000095;
      width: 100%;
      position: absolute;
      -webkit-transform: translate(-500px, 0);
      transform: translate(-500px, 0);
      transition: transform 0.3s ease;

    }
  
    .open {
      -webkit-transform: translate(0, 0);
      transform: translate(0,0);
    }
  
    .nav-item {
      text-align: left;
    }
  
    main{
      width: 100%;
    }
  }

  @media screen and (min-width: 499px) {

    .register-image{
      display: none;
    }
    .signin-image{
      display: none;
    }

  .head-menu{
    display: none;
  }
  
  .nav{
    width: 50%;
    margin-top: 10px;
  }

  .nav-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .nav-logout{
    margin-top: -10px;
  }



  .nav a{
    color: #ffffff;
    padding: 13px 0 13px 0;
  }

  .nav li {
    list-style: none;
    }

  .nav-item{
    border: none;
  }
  

  .culture-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }

  .home {
    width: 100%;
    height: 450px;
  
  }
  .home-img{
      width: 100%;
      height: 450px;
  }
  
  .home-inner {
    top: 75%;
  }
  
  .home-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .home-ket {
    color: #ffffff;
    margin-top: 7px;
    font-size: 14px;
    font-weight:lighter;
  }

  .benefits {
    max-width: 80%;
    margin: 0 auto;
    margin-top: -20px;
}
.summary {
    max-width: 95%;
    margin: 0 auto;
}
.about {
    max-width: 80%;
    margin-top: 35px;
}
.weather{
  padding: 20px;
  left: 80%;
}

.weather-title {
  font-size: 18px;
}

.description{
  font-size: 12px;
}
 

}

@media screen and (min-width: 500px) {
  
  .hero-desc{
    display: block;
    padding-left: 40px;
    margin-top: 5px;
    color: #fff ;
    font-weight: lighter;
  }
  .summary {
      height: 400px;
      max-width: 92%;
      margin: 0 auto;
  }
  .about {
      max-width: 90%;
      height: 400px;
  }

  .benefits {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
}
.summary {
    height: 400px;
    max-width: 92%;
    margin-top: 50px;
}
.about {
    max-width: 90%;
    height: 400px;
}
.benefits-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
}
.title {
    font-size: 20px;
    text-align: left;
}
.benefits-text {
    font-size: 12px;
}
.benefits-icon {
    width: 40px;
    height: auto;
}
.benefits-item {
  margin-top: 5px;
    font-size: 12px;
}
.benefits-desc {
  margin-top: 5px;
    font-size: 11px;
    padding-left: 0;
}

#summary-title{
  text-align: center;
}

  
}
 

@media screen and (min-width: 600px) {

      .register-image{
      display: block;
    }
    .signin-image{
      display: block;
    }
  .nav{
    width: 50%;
  }
  

  .culture-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 16px;
  }

  .home-title {
    font-size: 24px;
  }
  
  .home-ket {
    font-size: 14px;
  }

  .about{
    margin-top: 50px;
  }
  
 
}

@media screen and (min-width: 630px) {
  .about {
      height: 450px;
  }
  .about-desc{
    font-size: 14px;
  }

  .benefits {
    max-width: 85%;
    margin-top: 100px;
}

.hero-bold {
  padding: 0 80px;
  font-size: 28px;
}

.hero-desc {
  color: #fff;
  padding: 5px 80px;
  font-size: 13px;
}

.summary-desc {
  font-size: 14px;
}
.web-name {
  font-size: 32px;
}
}

@media screen and (min-width: 700px) {
  .culture-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 16px;
  }

  .home-inner{
    top: 75%;
  }

  .home-title {
    font-size: 28px;
  }
  
  .home-ket {
    font-size: 14px;
  }
  .benefits {
    margin-top: 150px;
}

  .detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  .detail-desc p{
    font-size: 14px;
  }
  .detail-desc h4{
    font-size: 16px;
  }

  .detail-info h4{
    font-size: 16px;
  }
  
  .detail-info p{
    font-size: 14px;
  }
  #reviews-list li p{
    font-size: 14px;
  }
  .summary {
    height: 300px;
}
#summary-title {
    text-align: center;
    margin-bottom: 8px;
}
.summary-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
}
.summary-desc {
    font-size: 14px;
}

.about {
  height: 250px;
  padding: 30px 30px;
}
.about-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-img {
  margin: 0;
    max-width: 300px;
}
.about-title {
  margin: 0;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}
.about-desc {
  padding-left: 0;

}
}

@media screen and (min-width: 720px) {

  .hero-bold {
      font-size: 32px;
  }
  .hero-bold {
      padding: 0 80px;
  }
  .hero-desc {
      opacity: 100%;
      color: #fff;
      padding: 5px 80px;
      font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  .nav{
    width: 45%;
  }
  .nav-list {
    width: 100%;
    margin: 0 auto;
  }
  .home-title{
    text-align: center;
  }

  .home {
    height: 90%;
  
  }
  .home-img{

      height: 90%;
  }

  .search{
    width: 80%;
  }

  .benefits {
    margin-top: 200px;
}
  
}

@media screen and (min-width: 900px) {
  .nav{
    width: 40%;
  }
  .culture-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .home-inner{
    top: 80%;
  }
  .home-title {
    font-size: 28px;
  }
  
  .home-ket {
    font-size: 14px;
  }

  .benefits {
    margin-top: 280px;
    padding: 30px 50px;
}
.benefits-desc {
    font-size: 14px;
}
.summary-desc {
    font-size: 14px;
}
.about{
  max-width: 70%;
}
.about-img {
    max-width: 300px;
}
  
}



@media screen and (min-width: 1100px) {
  .home-inner{
    top: 80%;
  }
  .home-title {
    font-size: 32px;
  }
  
  .home-ket {
    font-size: 16px;
  }

  .hero-bold {
    padding-left: 100px;
    font-size: 48px;
}
.hero-desc {
    padding-left: 100px;
    font-size: 20px;
}
.benefits {
  margin-top: 40%;
  padding: 30px 50px;
  max-width: 1000px;
}

.summary-desc{
  margin-top: 50px;
}

.about{
  max-width: 60%;
}

.weather {
  padding: 25px;
  text-align: center;
  background-color: #3e3e3e7b;
  border-radius: 10px;
}

.weather-title {
  font-size: 20px;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.weather-icon img {
  width: 70px; 
  height: 70px;
  margin-right: 10px;
}

.weather-details p {
  margin: 0;
}

.temperature {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 5px;
}

.description {
  text-transform: capitalize;
  font-size: 12px;
}


}

@media screen and (min-width: 1200px) {
  .home-inner{
    top: 75%;
  }
  .home-title {
    font-size: 38px;
  }

  .about{
    margin-top: 100px;
  }
  
  .home-ket {
    font-size: 18px;
  }
  .nav{
    width: 35%;
  }
  
}
