@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #ce5a18;
  width: 100%;
  height: 130px;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  width: 140px;
  height: 48px;
  padding-top: 37px;
  padding-left: 49px;
}
span.judul {
  font-family: Poppins;
  font-size: 31px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 6px;
  -webkit-text-stroke: 0.1px white;
  -webkit-text-fill-color: transparent;
}
nav.navigasi {
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  float: right;
  margin-right: 150px;
}
a:hover {
  text-decoration: underline;
  font-weight: 600;
}
nav ul a {
  padding-left: 62px;
}

.container {
  padding-left: 95px;
  padding-top: 122px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.informasi {
  color: white;
}
p.tempatdestinasi {
  color: #ce5a18;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
p.keterangan {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 24px;
}
p.keteranganisi {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
img.big {
  width: 519px;
  height: 545px;
  flex-shrink: 0;
  border-radius: 10px;
}
.deskripsi {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 51px 81px 0 81px;
}
.route {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 38px 81px;
}

.review {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 81px;
  height: 292px;
}
.isireview {
  width: 100%;
  height: 237px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10.2px 1px rgba(0, 0, 0, 0.25);
}
.fotoreview {
  padding: 20px 28px 0 37px;
  border-radius: 50px;
}
.user {
  color: #ce5a18;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline;
}
.komenan {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 11px 81px 0 49px;
}
.bagiankiri {
  width: 100%;
}
.bagiankanan {
  float: right;
  padding-top: 20px;
  padding-right: 19px;
}
.addkomen {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 81px;
  height: 284px;
}
.tambahkankomen {
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  width: 74%;
  height: 233px;
  font-size: 14px;
  float: left;
}
.addfoto {
  border-radius: 5px;
  border: 1px solid #3e3e3e;
  width: 25%;
  height: 233px;
  font-size: 16px;
  float: right;
  padding-bottom: 50px;
}


.button {
  color: white;
  font-family: Poppins;
  box-sizing: border-box;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: baseline;
  font-size: 20px;
  font-style: normal;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.4px;
  width: 381px;
  height: 59.733px;
  background-color: #ce5a18;
  margin: 38px 450px 150px 43%;
}

footer {
  width: 100%;
  height: 173px;
  flex-shrink: 0;
  background: var(--utama, #ce5a18);
  box-shadow: 0px 4px 10.2px 1px rgba(0, 0, 0, 0.25);
}
.textpertama {
  padding-top: 43px;
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.textkedua {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
